
@{
    ViewData["Title"] = "Update";

}
<div class="container">
    <form action="/Sections/Save" method="post">
        <div class="mb-3">
            <label class="form-label">Section Name</label>
            <input type="text" name="SectionName" value="@ViewBag.section.SectionName" />
        </div>
        <input type="hidden" name="Id" value="@ViewBag.section.Id" />
        <button type="submit" class="btn btn-success  col-md-3">Update</button>

    </form>

    </div>