@using RestaurantMVC.Models
@model  List<Table>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Table Id</th>
        <th>Section</th>
        <th>IsFull</th>
    </tr>
    @foreach (var table in Model)
    {
<tr>
    <td>@table.Id</td>
    <td>@table.Section</td>
    <td>Dolu</td>

</tr>
    }

</table>

