@{
    ViewData["Title"] = "Home Page";
}
<link href="/css/home.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center flex-column  home">
    <h1 class="display-3">Restaurant MVC </h1>
    <h1 class="display-3">Project</h1>
    <h2></h2>

</div>
